*{
   scroll-behavior: smooth;
}
html,body{

    margin:0;
    padding:0;
    overflow-x:hidden;
    height: 100%;
}
.displayContainer { 
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100dvh;    
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;
    z-index: 1;

}

.displayContainer img.large-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.5s ease;

}

.thumbnails {
    position: fixed;       
    top: 10px;       
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    width:auto;
    background: rgba(0,0,0,0.35);
    z-index: 2000;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    overflow-x: auto;
    max-width: 95%;
    border-radius: 10px;
}

.thumbnails img.thumbnail {
    width: 55px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
    flex-shrink: 0;
  
}

.thumbnails img.thumbnail:hover {
    transform: scale(1.1);
}

.left, .right {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: backgorund 0.2s;
}
.left {
    left:10px;
}
.right {
    right: 15px;px;
}

@media (min-width:1024px) {
    .thumbnails img.thumbnail {
        width: 10dvw;
    }

    .left, .right {
        width: 70px;
        height: 70px;
        font-size: 2.5rem;
    
    }
}